@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --ls-page-text-size: 1em;
  --ls-page-title-size: 40px;
  --ls-main-content-max-width: 940px;
  --ls-font-family: Montserrat;

  --radius-sm: 2px;
  --radius-md: 3px;
  --radius-lg: 4px;

  --transparent: transparent;
  --transition: all 0.3s ease-in-out;

  --chinook: 163, 208, 162; /*rgb(163, 208, 162)*/

  --havelock-blue: 84, 152, 211; /*rgb(84, 152, 211)*/
}

.white-theme,
html[data-theme="light"] {
  --red: #e75154;
  --orange: #d95d39;
  --green: #2a9d8f;
  --blue: #5397d3;

  --ls-primary-background-color: #fdfdfd;
  --ls-secondary-background-color: #f9f9f9;
  --ls-tertiary-background-color: #eef3f7;
  --ls-quaternary-background-color: #f3f5f3;

  --ls-table-tr-even-background-color: 248, 250, 252; /* rgb(248, 250, 252) */

  --ls-active-primary-color: var(--blue);
  --ls-active-secondary-color: var(--blue);

  --ls-block-properties-background-color: #f7f7f7;
  --ls-page-properties-background-color: #f0f5fa;

  --ls-search-background-color: var(--ls-primary-background-color);
  --ls-border-color: #e4ebf4;
  --ls-secondary-border-color: #e2e7ec;
  --ls-guideline-color: var(--ls-border-color);
  --ls-menu-hover-color: var(--ls-a-chosen-bg);
  --ls-primary-text-color: #1e2327;
  --ls-secondary-text-color: #1e2327;
  --ls-title-text-color: var(--ls-primary-text-color);

  --ls-link-text-color: #005d9d;
  --ls-link-text-hover-color: #01699f;
  --ls-link-ref-text-color: #005d9d;
  --ls-link-ref-text-hover-color: #01699f;

  --ls-tag-text-color: #3d5866;
  --ls-tag-text-hover-color: #2b4451;

  --ls-slide-background-color: #ffffff;

  --ls-block-bullet-border-color: #dedede;
  --ls-block-bullet-color: #b6b6b6;
  --ls-block-highlight-color: #c0e6fd;

  --ls-page-checkbox-color: rgba(var(--havelock-blue), 1);
  --ls-page-checkbox-border-color: rgba(var(--havelock-blue), 1);

  --ls-page-inline-code-color: rgb(2, 144, 158);
  --ls-page-inline-code-bg-color: #f7f7f7;

  --ls-scrollbar-foreground-color: rgba(0, 0, 0, 0.2);
  --ls-scrollbar-background-color: rgba(0, 0, 0, 0.1);
  --ls-scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.3);

  --ls-head-text-color: var(--ls-primary-text-color);

  --ls-icon-color: #908e8b;
  --ls-search-icon-color: var(--ls-icon-color);
  --ls-a-chosen-bg: #edece8;

  --color-level-1: #f9fafb;
  --color-level-2: #f5f9fd;
  --color-level-3: #f1f7fd;
  --color-level-4: #d0e6fa;
  --color-level-5: #bbdaf6;

  --left-sb-bg-color: #141c29;
  --left-sb-bg-color-hover: #111822;

  --left-sb-txt-color: #64707c;
  --left-sb-txt-color-hover: #b6c4ce;

  --external-link-color: #ee5020;
  --external-link-color-hover: #93b83d;

  --highlighter: #ffe79a;

  --selection: rgba(190, 235, 245, 0.6);

  --page-ref-bg-hover: rgba(233, 241, 252, 1);

  --caret-color: var(--blue);

  --box-shadow-sm: rgba(171, 171, 171, 0.1) 0 2px 3px 0;
  --drop-shadow-sm: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.dark-theme,
html[data-theme="dark"] {
  --red: #7e2e3b;
  --orange: #b05c33;
  --green: #41816c;
  --blue: #405e81;

  --ls-primary-background-color: #1a2434;
  --ls-secondary-background-color: var(--ls-primary-background-color);
  --ls-tertiary-background-color: #243045;
  --ls-quaternary-background-color: #263247;

  --ls-table-tr-even-background-color: #2a3546;

  --ls-active-primary-color: var(--blue);
  --ls-active-secondary-color: var(--blue);

  --ls-block-properties-background-color: var(--ls-tertiary-background-color);
  --ls-page-properties-background-color: var(--ls-quaternary-background-color);

  --ls-search-background-color: var(--ls-primary-background-color);
  --ls-border-color: #303b4d;
  --ls-secondary-border-color: #3b475c;
  --ls-guideline-color: var(--ls-border-color);
  --ls-menu-hover-color: var(--ls-a-chosen-bg);
  --ls-primary-text-color: #bbcad5;
  --ls-secondary-text-color: #cedae3;
  --ls-title-text-color: var(--ls-primary-text-color);

  --ls-link-text-color: #3b9cd1;
  --ls-link-text-hover-color: #46b4f1;
  --ls-link-ref-text-color: var(--ls-link-text-color);
  --ls-link-ref-text-hover-color: var(--ls-link-text-hover-color);

  --ls-tag-text-color: #3d5866;
  --ls-tag-text-hover-color: #2b4451;

  --ls-slide-background-color: #1a2434;

  --ls-block-bullet-border-color: #2a3546;
  --ls-block-bullet-color: #536276;
  --ls-block-highlight-color: rgba(45, 80, 98, 1);

  --ls-page-checkbox-color: rgba(var(--havelock-blue), 1);
  --ls-page-checkbox-border-color: rgba(var(--havelock-blue), 1);

  --ls-page-inline-code-color: rgb(2, 144, 158);
  --ls-page-inline-code-bg-color: #253147;

  --ls-scrollbar-foreground-color: rgba(228, 235, 244, 0.1);
  --ls-scrollbar-background-color: rgba(0, 0, 0, 0.05);
  --ls-scrollbar-thumb-hover-color: rgba(228, 235, 244, 0.3);

  --ls-head-text-color: var(--ls-primary-text-color);

  --ls-icon-color: #3e4c5c;
  --ls-search-icon-color: var(--ls-icon-color);
  --ls-a-chosen-bg: #232e3e;

  --color-level-1: #273346;
  --color-level-2: #233044;
  --color-level-3: #384b6a;
  --color-level-4: #405576;
  --color-level-5: #43587a;

  --left-sb-bg-color: #141c29;
  --left-sb-bg-color-hover: #111822;

  --left-sb-txt-color: #64707c;
  --left-sb-txt-color-hover: #b6c4ce;

  --external-link-color: #ee5020;
  --external-link-color-hover: #93b83d;

  --highlighter: rgba(60, 133, 121, 0.6);

  --selection: var(--ls-block-highlight-color);

  --page-ref-bg-hover: var(--selection);

  --caret-color: var(--secondary-border-color);

  --box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  --drop-shadow-sm: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}
/* START Journal Header */
.journal-title h1::before,
.is-journals h1::before {
  content: "📅";
  font-size: 0.85em;
  margin-right: 10px;
  vertical-align: text-bottom;
}
/* Journal Header END */

/* START TASKS */

.form-checkbox {
  border-radius: var(--radius-sm);
}

.form-checkbox:checked {
  border: none;
}

.priority {
  font-size: 0;
  visibility: hidden;
}

.priority::before {
  background-repeat: no-repeat;
  border: 1px solid var(--transparent);
  border-radius: 100%;
  display: inline-block;
  font-size: 12px;
  height: 16px;
  visibility: visible;
  width: 16px;
}

.priority {
  font-weight: bold;
}

.priority[href="#/page/A"]::before {
  background-color: var(--red);
  content: " ";
}

.priority[href="#/page/B"]::before {
  background-color: var(--orange);
  content: " ";
}

.priority[href="#/page/C"]::before {
  background-color: var(--green);
  content: " ";
}

.timestamp,
[data-drawer-name="logbook"] {
  font-style: italic;
}

/* TASKS END*/

/* START External Link */

.external-link::before {
  content: "🌏";
  margin-right: 5px;
}

.external-link {
  border-bottom: 1px dotted var(--external-link-color);
  color: var(--external-link-color);
}

.external-link:hover {
  border-bottom: 1px dotted var(--external-link-color-hover);
  color: var(--external-link-color-hover);
}

/* External Link END */

/* START Bullet & Bullet Container */

.bullet-container {
  height: 20px;
  width: 20px;
}

a:hover > .bullet-container .bullet {
  background-color: rgba(var(--havelock-blue), 1);
  box-shadow: 0 0 0 2px var(--ls-primary-background-color),
    0 0 0 4px rgba(var(--havelock-blue), 1);
  transform: scale(1.4);
  transition: var(--transition);
}

.ls-block .bullet {
  background-color: rgba(var(--havelock-blue), 1);
  box-shadow: 0 0 0 2px var(--ls-primary-background-color),
    0 0 0 4px rgba(var(--havelock-blue), 1);
  display: block;
  transition: var(--transition);
}

/*=========================================================*/
/* === START highlight current path by cannibalox v0.2 ===*/
/*=========================================================*/

.ls-block:not(:focus-within) .bullet {
  background-color: var(--ls-block-bullet-color);
  box-shadow: none;
}

.block-children:not(:focus-within) {
  border-left: 1px solid var(--ls-guideline-color);
}

/*========================================================*/
/* === highlight current path by cannibalox v0.2  END ===*/
/*========================================================*/

.block-children {
  border-left: 1px solid rgba(var(--havelock-blue), 0.5);
  transition: var(--transition);
}

/* Bullet & Bullet Container END */

/* Inline Header Tags Adjustments */

.ls-block :is(h1, h2) {
  border: none;
  margin: 0;
}

.ls-block :is(h1, h2, h3, h4, h5, h6)::after {
  background-size: 16px 16px;
  content: "";
  display: inline-flex;
  height: 16px;
  margin-left: 5px;
  opacity: 0;
  vertical-align: middle;
  width: 16px;
}

.ls-block :is(h1, h2, h3, h4, h5, h6):hover::after {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.ls-block h1::after {
  background-image: url("./assets/h1.svg");
}

.ls-block h2::after {
  background-image: url("./assets/h2.svg");
}

.ls-block h3::after {
  background-image: url("./assets/h3.svg");
}

.ls-block h4::after {
  background-image: url("./assets/h4.svg");
}

.ls-block h5::after {
  background-image: url("./assets/h5.svg");
}

.ls-block h6::after {
  background-image: url("./assets/h6.svg");
}

.editor-inner .h1.uniline-block,
.ls-block h1 {
  font-size: 2em;
  min-height: 1.5em;
}

.editor-inner .h2.uniline-block,
.ls-block h2 {
  font-size: 1.5em;
  min-height: 1.5em;
  position: relative;
  top: -3px;
}

.editor-inner .h3.uniline-block,
.ls-block h3 {
  font-size: 1.3em;
  min-height: 1.5em;
  position: relative;
  top: -4px;
}

.editor-inner .h4.uniline-block,
.ls-block h4,
.editor-inner .h5.uniline-block,
.ls-block h5,
.editor-inner .h6.uniline-block,
.ls-block h6 {
  font-size: 1em;
  min-height: 1.5em;
  position: relative;
  top: -5px;
}

.editor-inner .multiline-block:is(.h1, .h2, .h3, .h4, .h5, .h6)::first-line,
.editor-inner .uniline-block:is(.h1, .h2, .h3, .h4, .h5, .h6),
.ls-block :is(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
}

.editor-inner .uniline-block:is(.h1, .h2),
.ls-block :is(h1, h2) {
  border-bottom: 1px solid var(--ls-quaternary-background-color);
  margin: 0.4em 0 0;
}

.block-ref .editor-inner :is(.h1, .h2),
.block-ref .ls-block :is(h1, h2) {
  border-bottom: none;
}

.block-ref :is(h1, h2, h3, h4, h5, h6) {
  border-bottom: none;
  font-size: 1rem;
}

.editor-inner .uniline-block:is(.h1, .h2),
.ls-block :is(h1, h2) {
  border-bottom: var(--transparent);
}

.doc-mode .block-children {
  border-left: none !important;
}

.document-mode .editor-inner .h1,
.document-mode .ls-block h1 {
  margin: 0.34em 0;
}

.document-mode .editor-inner .h2,
.document-mode .ls-block h2 {
  margin: 0.3em 0;
}

.document-mode .editor-inner .h3,
.document-mode .ls-block h3 {
  margin: 0.28em 0;
}

.document-mode .editor-inner .h4,
.document-mode .ls-block h4 {
  margin: 0.26em 0;
}

.document-mode .editor-inner .h5,
.document-mode .ls-block h5 {
  margin: 0.24em 0;
}

.document-mode .editor-inner .h6,
.document-mode .ls-block h6 {
  margin: 0.22em 0;
}

.document-mode .ls-block {
  margin-bottom: 0rem;
}

/* Header Tag Adjustments END */

/* START #tag  */
.content a.tag {
  --tag-border: 135, 169, 186;
  --tag-bg-color: 245, 251, 254;
  background-color: rgb(var(--tag-bg-color), 0.1);
  border: 1px solid var(--transparent);
  border-radius: var(--radius-sm);
  color: var(--ls-primary-text-color);
  display: inline;
  font-size: 1em;
  padding: 0 5px;
}

html[data-theme="light"] .content a.tag {
  background-color: rgb(var(--tag-bg-color), 1);
  border: 1px solid rgb(var(--tag-border));
}

html[data-theme="dark"] .content a.tag {
  background-color: rgb(var(--tag-bg-color), 0.1);
  border: 1px solid rgb(var(--tag-border), 0.6);
}

/* #tag END  */

/* START Sidebar */
html[data-theme="light"] .cp__header > .l a {
  color: var(--left-sb-txt-color);
}

.left-sidebar-inner,
.cp__sidebar-left-layout::before {
  background-color: var(--left-sb-bg-color);
}

.white-theme #left-sidebar a,
.white-theme .left-sidebar-inner .favorites .page-icon,
.left-sidebar-inner .recent .page-icon {
  color: var(--left-sb-txt-color) !important;
}

.white-theme .left-sidebar-inner .nav-content-item > .header:hover,
.white-theme #left-sidebar a:hover {
  background-color: var(--left-sb-bg-color-hover);
  color: var(--left-sb-txt-color-hover);
}

.dark-theme #left-sidebar a,
.dark-theme .left-sidebar-inner .favorites .page-icon,
.left-sidebar-inner .recent .page-icon {
  color: var(--left-sb-txt-color);
}

.dark-theme .left-sidebar-inner .nav-content-item > .header:hover,
.dark-theme #left-sidebar a:hover {
  background-color: var(--left-sb-bg-color-hover);
  color: var(--left-sb-txt-color-hover);
}

.cp__header a.button {
  color: var(--left-sb-txt-color);
}

.cp__header > .l a.button:hover {
  background-color: var(--transparent);
  cursor: pointer;
}

html[data-theme="dark"] .cp__right-sidebar .sidebar-item {
  background-color: var(--ls-primary-background-color);
}
/* Sidebar END */

/* START Table */

.table-wrapper > table td,
.table-wrapper > table th {
  border: solid 1px var(--ls-border-color);
}

th {
  font-size: 1em;
  font-weight: bold;
}

th,
td {
  padding: 0.6rem;
}

tr:nth-child(even) {
  background: rgb(var(--ls-table-tr-even-background-color));
}

/* Table END */

/* START Admonition & Blockquote */
.admonitionblock,
.verse,
blockquote {
  --bq-bg: #f2f8f3;
  --bq-txt-bd: 163, 215, 173;
  --verse-bg: #eaf6f6;
  --verse-txt-bd: 183, 225, 227;
  --warn-bg: #fffbf0;
  --warn-txt-bd: 254, 230, 168;
  --important-bg: #fcefef;
  --important-txt-bd: 255, 191, 193;
  --note-bg: #f3f4f5;
  --note-txt-bd: 198, 200, 205;
  --caution-bg: #fff4e7;
  --caution-txt-bd: 254, 208, 158;
  --tip-bg: #f2f6ff;
  --tip-txt-bd: 185, 202, 246;
  --bq-dark-bg: #41816c;
  --verse-dark-bg: #39717e;
  --warning-dark-bg: #836a43;
  --important-dark-bg: #4f232a;
  --tip-dark-bg: #405e81;
  --note-dark-bg: #3f4b5e;
  --caution-dark-bg: #694234;
}

.admonitionblock,
.verse,
blockquote {
  border: 1px solid var(--transparent);
  border-radius: var(--radius-lg);
  margin: 1rem 0;
  padding: 2rem 3rem;
}
.admonitionblock .is-paragraph {
  font-size: 16px;
}
.pre-wrap-white-space {
  border: 1px solid var(--ls-border-color);
}

blockquote::before {
  font-size: 4.5em;
  font-weight: normal;
  line-height: 0.1em;
  margin-right: 1px;
  vertical-align: -0.3em;
}

html[data-theme="light"] blockquote {
  background-color: var(--bq-bg);
  border-color: rgba(var(--bq-txt-bd), 0.3);
}

html[data-theme="light"] blockquote::before {
  color: rgba(var(--bq-txt-bd), 1);
  content: "❝";
}

html[data-theme="light"] blockquote .is-paragraph:first-child {
  display: inline;
}

html[data-theme="light"] .verse {
  background-color: var(--verse-bg);
  border-color: rgba(var(--verse-txt-bd), 0.3);
  font-style: italic;
}

html[data-theme="light"] .warning {
  background-color: var(--warn-bg);
  border-color: rgba(var(--warn-txt-bd), 0.3);
}

html[data-theme="light"] .warning svg {
  color: rgba(var(--warn-txt-bd), 1);
}

html[data-theme="light"] .important {
  background-color: var(--important-bg);
  border-color: rgba(var(--important-txt-bd), 0.3);
}

html[data-theme="light"] .important svg {
  color: rgba(var(--important-txt-bd), 1);
}

html[data-theme="light"] .tip {
  background-color: var(--tip-bg);
  border-color: rgba(var(--tip-txt-bd), 0.3);
}

html[data-theme="light"] .tip svg {
  color: rgba(var(--tip-txt-bd), 1);
}

html[data-theme="light"] .note {
  background-color: var(--note-bg);
  border-color: rgba(var(--note-txt-bd), 0.3);
}

html[data-theme="light"] .note svg {
  color: rgba(var(--note-txt-bd), 1);
}

html[data-theme="light"] .caution {
  background-color: var(--caution-bg);
  border-color: rgba(var(--caution-txt-bd), 0.3);
}
html[data-theme="light"] .caution svg {
  color: rgba(var(--caution-txt-bd), 1);
}
html[data-theme="dark"] .admonitionblock,
html[data-theme="dark"] .verse,
html[data-theme="dark"] blockquote {
  color: var(--ls-primary-text-color);
}

html[data-theme="dark"] blockquote {
  background-color: var(--bq-dark-bg);
}

html[data-theme="dark"] blockquote::before {
  color: rgba(var(--bq-txt-bd), 1);
  content: "❝";
}

html[data-theme="dark"] blockquote .is-paragraph:first-child {
  display: inline;
}

html[data-theme="dark"] .verse {
  background-color: var(--verse-dark-bg);
  font-style: italic;
}

html[data-theme="dark"] .warning {
  background-color: var(--warning-dark-bg);
}

html[data-theme="dark"] .warning svg {
  color: rgba(var(--warn-txt-bd), 1);
}

html[data-theme="dark"] .important {
  background-color: var(--important-dark-bg);
}

html[data-theme="dark"] .important svg {
  color: rgba(var(--important-txt-bd), 1);
}

html[data-theme="dark"] .tip {
  background-color: var(--tip-dark-bg);
}

html[data-theme="dark"] .tip svg {
  color: rgba(var(--tip-txt-bd), 1);
}

html[data-theme="dark"] .note {
  background-color: var(--note-dark-bg);
}

html[data-theme="dark"] .note svg {
  color: rgba(var(--note-txt-bd), 1);
}

html[data-theme="dark"] .caution {
  background-color: var(--caution-dark-bg);
}

html[data-theme="dark"] .caution svg {
  color: rgba(var(--caution-txt-bd), 1);
}

.admonition-icon {
  border-color: var(--transparent);
}

.admonition-icon > svg {
  background-color: var(--transparent);
  border-right: var(--transparent);
}

.admonitionblock > .admonition-icon > .svg-shadow {
  filter: none;
}

/*  Admonition & Blockquote END */

/* START MISC */

mark {
  background: var(--highlighter);
  color: inherit;
  font-size: inherit;
}

hr {
  margin: 1rem 0;
}

::selection {
  background-color: var(--selection);
}

a.button.active,
a.button:hover {
  background: var(--ls-menu-hover-color);
}

.inline code,
.ui__modal-panel :not(pre) > code {
  color: var(--ls-page-inline-code-color);
}

.inline code {
  border: 1px solid var(--ls-page-inline-code-color);
}

.editor-inner textarea {
  caret-color: var(--caret-color);
}

.ui__modal-panel {
  background: var(--ls-primary-background-color);
}

.block-properties,
.color-level {
  border: 1px solid var(--ls-border-color);
  border-radius: var(--radius-lg);
  box-shadow: var(--box-shadow-sm);
}

.cp__palette-main .chosen,
.cp__settings-inner > aside ul > li.active {
  background-color: var(--ls-quaternary-background-color);
}

.cp__right-sidebar .sidebar-item {
  border: none;
  border-radius: 0;
}

.cp__right-sidebar-inner {
  border-left: 1px solid var(--ls-border-color);
}

.cp__themes-installed > .it {
  background-color: var(--transparent);
}

.cp__themes-installed > .it.is-active {
  background-color: var(--ls-quaternary-background-color);
  opacity: 1;
}

.cp__themes-installed > .it:hover {
  background-color: var(--ls-quaternary-background-color);
}

.block-content[data-type="annotation"] a.prefix-link::before {
  content: "🔖 ";
}

[data-type="annotation"] > .block-ref {
  border-bottom: none;
}

.block-ref {
  border-bottom: 1px solid;
  border-bottom-color: rgba(var(--chinook), 1);
  border-radius: 0;
  font-size: inherit;
  padding: 0 4px;
}

.block-ref:hover {
  background-color: rgba(var(--chinook), 0.2);
  color: inherit;
  transition: var(--transition);
}
.page-reference:hover,
.references-blocks .page-reference:hover {
  background-color: var(--page-ref-bg-hover);
}

.foldable-title h2 {
  font-style: italic;
}

.open-block-ref-link,
.cp__sidebar-help-btn {
  --misc-border: 135, 169, 186;
  --misc-bg-color: 245, 251, 254;
}

html[data-theme="light"] .open-block-ref-link,
html[data-theme="light"] .cp__sidebar-help-btn {
  background-color: rgba(var(--misc-bg-color), 1);
  border: 1px solid rgba(var(--misc-border), 1);
  color: var(--ls-tag-text-color);
}

html[data-theme="dark"] .open-block-ref-link,
html[data-theme="dark"] .cp__sidebar-help-btn {
  background-color: rgb(var(--misc-bg-color), 0.1);
  border: 1px solid rgb(var(--misc-border), 0.6);
  color: var(--ls-primary-text-color);
}

.ui__modal-overlay div {
  background-color: var(--left-sb-bg-color);
  opacity: 0.6;
}

.ui__ac-group-name {
  color: var(--ls-primary-text-color);
  font-weight: 600;
}

.tippy-popper {
  filter: var(--drop-shadow-sm);
}
/* MISC END */

/* START Settings & Marketplace */

.cp__plugins-item-card {
  background: var(--ls-primary-background-color, #fff);
  border: 1px solid var(--ls-border-color);
  box-shadow: var(--box-shadow-sm);
}

.cp__plugins-item-card:hover {
  background-color: var(--ls-quaternary-background-color);
}

.cp__themes-installed > .it.is-active {
  background-color: var(--ls-quaternary-background-color);
  opacity: 1;
}

.cp__plugins-page .tabs .ui__button.active {
  background-color: var(--quaternary-background-color);
}

/* Settings & Marketplace END */

/* START Code Block */
.extensions__code {
  background-color: #202a3b;
  border-radius: var(--radius-lg);
  margin-top: 6px;
}

.extensions__code-lang {
  background-color: var(--orange);
  border-bottom-left-radius: var(--radius-sm);
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: var(--radius-sm);
  color: #fff;
  padding: 4px 8px;
  right: 0;
  top: 0;
  margin-top: 0;
}

/* Code Block END */

/* START Codemirror Inspired by Bearded Theme https://github.com/BeardedBear Arc 		  */
/* https://github.com/BeardedBear/bearded-theme/blob/master/themes/bearded-theme-arc.json */

.CodeMirror-lines,
.CodeMirror-hscrollbar,
.CodeMirror-gutters {
  background-color: #202a3b;
}

.cm-s-solarized.CodeMirror,
.cm-s-dark.CodeMirror {
  background: #202a3b;
  color: #c0cfda;
}

.cm-s-solarized div.CodeMirror-selected {
  background: #273245;
}

.cm-s-solarized .CodeMirror-line::selection,
.cm-s-solarized .CodeMirror-line > span::selection,
.cm-s-solarized .CodeMirror-line > span > span::selection {
  background: #273245;
}

.cm-s-solarized .CodeMirror-line::-moz-selection,
.cm-s-solarized .CodeMirror-line > span::-moz-selection,
.cm-s-solarized .CodeMirror-line > span > span::-moz-selection {
  background: #273245;
}

.cm-s-solarized .CodeMirror-gutter.CodeMirror-linenumbers {
  background: #202a3b;
  border-right: 10px;
}

.cm-s-solarized .CodeMirror-guttermarker {
  color: #3a485a;
}

.cm-s-solarized .CodeMirror-guttermarker-subtle {
  color: #3a485a;
}

.cm-s-solarized .CodeMirror-linenumber {
  color: #3a485a;
}

.cm-s-solarized .CodeMirror-cursor {
  border-left: 2px solid #ffd700;
}

.cm-s-solarized.cm-fat-cursor .CodeMirror-cursor {
  background-color: #ffd700 !important;
}

.cm-s-solarized .cm-animate-fat-cursor {
  background-color: #ffd700 !important;
}

.cm-s-solarized span.cm-comment {
  color: #546377;
}

.cm-s-solarized span.cm-atom {
  color: #ff8f4d;
}

.cm-s-solarized span.cm-number {
  color: #ff8f4d;
}

.cm-s-solarized span.cm-property {
  color: #c0cfda;
}

.cm-s-solarized span.cm-attribute,
.cm-s-solarized span.cm-keyword {
  color: #ffd700;
}

.cm-s-solarized span.cm-builtin {
  color: #66d9ef;
}

.cm-s-solarized span.cm-string {
  color: #88cb8c;
}

.cm-s-solarized span.cm-variable {
  color: #44c1ff;
}

.cm-s-solarized span.cm-variable-2 {
  color: #ff8f4d;
}

.cm-s-solarized span.cm-variable-3 {
  color: #ff81ee;
}

.cm-s-solarized .cm-operator {
  color: #5b7073;
}

.cm-s-solarized span.cm-def {
  color: #44c1ff;
}

.cm-s-solarized span.cm-bracket {
  color: #00f1db;
}

.cm-s-solarized span.cm-tag {
  color: #44c1ff;
}

.cm-s-solarized span.cm-header {
  color: #ff81ee;
}

.cm-s-solarized span.cm-link {
  color: #ff81ee;
}

.cm-s-solarized span.cm-error {
  background: #ff81ee;
  color: #f8f8f0;
}

.cm-s-solarized .cm-qualifier {
  color: #00f1db;
}

.cm-s-solarized .cm-meta {
  color: #4f8fc7;
}

.cm-s-solarized .CodeMirror-activeline-background {
  background: #2a3546;
}

.cm-s-solarized .CodeMirror-matchingbracket {
  color: #ffd700 !important;
  text-decoration: underline;
}
/* Codemirror Arc Style theme END */
