/* TODO Codemirror themeing */
/* TODO Finalize Color framework for theme */
/* TODO Finalize Variable font settings for Theme */
/* TODO Incorporate Recursive Font options for Monospaced sections */
/* TODO Cleanup and optimize CSS where necessary */

@import url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap");
/*@import for "Recursive" Font If you would like to use it, change `--ls-font-family: Inter` to `--ls-font-family: Recursive` */

:root {

	/* START Default Variable Font Settings for Recursive https://www.recursive.design/ for details */
  --MONO: 0;   /* Monospace  0 or 1  setting to 1 is monospace*/
  --CASL: 0;   /* Casual  0 to 1 */
  --slnt: 0;   /* Upright  0 to -15 */
  --CRSV: 0.5; /* Auto Cursive settings include 0 to 1 */

	/* Default Variable Font Settings END */

  --ls-font-family: Inter;
  --ls-page-text-size: 1em;

  --ls-page-title-size: 34px;

  --ls-main-content-max-width: 940px;

  --radius-none: 0;
  --radius-sm: 2px;
  --radius-md: 3px;
  --radius-lg: 6px;

  --transparent: transparent;
  --transition: all 0.3s ease-in-out;

  --overlay: hsl(219, 15%, 4%);


  --white: #fff;

	--opacity-none: 1;
	--opacity-sm: .8;
	--opacity-md: .6;
	--opacity-lg: .4;

  /* for dev purposes only used to visually identify elements that are not initially clear */
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #21252c;
  }

  html[data-theme="light"] {
    background-color: transparent;
  }
}

.dark-theme,
html[data-theme="dark"] {
	--aqua: 180, 68%, 71%;

  --red: hsl(5, 100%, 82%);
  --orange: hsl(33, 100%, 82%);
  --green: hsl(168, 100%, 82%);
  --blue: hsl(188, 100%, 82%);

  --ls-primary-background-color: hsl(213, 14%, 13%);
  --ls-secondary-background-color: hsl(213, 14%, 13%);
  --ls-tertiary-background-color: hsl(213, 14%, 14%);
  --ls-quaternary-background-color: hsl(213, 14%, 15%);

  --ls-table-tr-even-background-color: hsl(213, 14%, 20%, 0.3);

  --ls-active-primary-color: hsl(168, 69%, 84%, .8);
  --ls-active-secondary-color: hsl(168, 69%, 74%, .8);

  --ls-block-properties-background-color: hsl(213, 14%, 10%);
  --ls-page-properties-background-color: hsl(213, 14%, 10%);

  --ls-search-background-color: var(--ls-primary-background-color);

  --ls-border-color: hsl(213, 14%, 18%);
  --ls-secondary-border-color: var(--ls-border-color);
  --ls-guideline-color: var(--ls-border-color);

  --ls-menu-hover-color: var(--ls-a-chosen-bg);

  --ls-primary-text-color: hsl(211, 18%, 67%);
  --ls-secondary-text-color: hsl(211, 18%, 60%);
  --ls-title-text-color: var(--ls-primary-text-color);

  --ls-link-text-color: hsl(187, 22%, 56%);
  --ls-link-text-hover-color: hsl(185, 100%, 82%, 0.6);

  --ls-link-ref-text-color: var(--ls-link-text-color);
  --ls-link-ref-text-hover-color: var(--ls-link-text-hover-color);

  --ls-slide-background-color: hsl(242, 8%, 8%);

  --ls-block-bullet-border-color: hsl(213, 14%, 69%, 0.1);
  --ls-block-bullet-color: hsl(213, 14%, 30%);
  --ls-block-highlight-color: hsl(216, 29%, 18%);

  --ls-page-checkbox-color: hsl(188, 45%, 78%);
  --ls-page-checkbox-border-color: hsl(188, 45%, 68%);

  --ls-page-inline-code-color: 203, 13%, 60%;
  --ls-page-inline-code-bg-color: 213, 15%, 14%;

  --ls-scrollbar-foreground-color: rgba(228, 235, 244, 0.1);
  --ls-scrollbar-background-color: rgba(0, 0, 0, 0.05);
  --ls-scrollbar-thumb-hover-color: rgba(228, 235, 244, 0.3);

  --ls-head-text-color: var(--ls-primary-text-color);

  --ls-icon-color: hsl(213, 14%, 37%);
  --ls-search-icon-color: var(--ls-icon-color);
  --ls-a-chosen-bg: hsl(213, 14%, 10%);

  --color-level-1: hsl(213, 14%, 11%);
  --color-level-2: hsl(213, 14%, 12%);
  --color-level-3: hsl(213, 14%, 13%);
  --color-level-4: hsl(213, 14%, 14%);
  --color-level-5: hsl(213, 14%, 15%);
  --color-level-6: hsl(213, 14%, 16%);

	--cl-border-shade1: hsl(213, 14%, 60%, 0.2);
  --cl-border-shade2: hsl(213, 14%, 50%, 0.2);
  --cl-border-shade3: hsl(213, 14%, 40%, 0.2);
  --cl-border-shade4: hsl(213, 14%, 30%, 0.2);
  --cl-border-shade5: hsl(213, 14%, 20%, 0.2);
  --cl-border-shade6: hsl(213, 14%, 10%, 0.2);

  --ui-button-bg: 202, 76%, 79%;
  --ui-button-color: 202, 76%, 75%;
  --ui-button-bg-hover: hsl(202, 76%, 75%);

  --left-sb-bg-color: hsl(213, 14%, 13%);
  --left-sb-bg-color-hover: hsl(213, 14%, 12%);

  --left-sb-txt-color: hsl(210, 10%, 51%);
  --left-sb-txt-color-hover: hsl(210, 19%, 73%);

  --inverted-text: #1c2026;

  --external-link-color: hsl(7, 32%, 70%);
  --external-link-color-hover: hsl(163, 36%, 65%);

  --highlighter: hsl(46, 41%, 60%);
  --highlighter-text: hsl(219, 15%, 15%);

  --selection: hsl(209, 87%, 73%, 0.1);

  --page-ref-bg-hover: 209, 87%, 73%;

  --caret-color: hsl(171, 100%, 58%);

  --pdf-asset-color: hsl(163, 36%, 65%);

  --card-title-bg-color: hsl(213, 14%, 11%);

  --codemirror-wrapper: #1A1E23;

  --box-shadow-sm: rgba(0, 0, 0, 0.15) 0 2px 3px 0;
  --box-shadow-lg: rgba(0, 0, 0, 0.15) 0 4px 6px 0;

  --drop-shadow-sm: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.36));
  --drop-shadow-lg: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.36));
}
.white-theme,
html[data-theme="light"] {

  --aqua: 190, 82%, 82%;

  --red: #e75154;
  --orange: #ffa542;
  --green: #2a9d8f;
  --blue: #5397d3;

  --ls-primary-background-color: hsl(208, 33%, 99%);
  --ls-secondary-background-color: hsl(208, 33%, 98%);
  --ls-tertiary-background-color: hsl(208, 33%, 99%);
  --ls-quaternary-background-color: hsl(208, 33%, 98%);

  --ls-table-tr-even-background-color: hsl(208, 33%, 95%, 0.8);

  --ls-active-primary-color: hsl(199, 66%, 40%);
  --ls-active-secondary-color: hsl(199, 70%, 35%);

  --ls-block-properties-background-color: hsl(208, 33%, 97%);
  --ls-page-properties-background-color: hsl(208, 33%, 97%);

  --ls-search-background-color: var(--ls-primary-background-color);

  --ls-border-color: hsl(209, 17%, 88%);
  --ls-secondary-border-color: hsl(209, 17%, 86%);
  --ls-guideline-color: var(--ls-border-color);

  --ls-menu-hover-color: var(--ls-a-chosen-bg);

  --ls-primary-text-color: hsl(213, 12%, 20%);
  --ls-secondary-text-color: hsl(213, 12%, 16%);
  --ls-title-text-color: var(--ls-primary-text-color);

  --ls-link-text-color: hsl(210, 66%, 42%);
  --ls-link-text-hover-color: hsl(210, 66%, 42%);
  --ls-link-ref-text-color: var(--ls-link-text-color);
  --ls-link-ref-text-hover-color: var(--ls-link-text-hover-color);

  /* --ls-tag-text-color: #3d5866;
	  --ls-tag-text-hover-color: #2b4451; */

  --ls-slide-background-color: hsl(0, 0%, 100%);

  --ls-block-bullet-border-color: hsl(197, 16%, 91%);
  --ls-block-bullet-color: hsl(200, 13%, 78%);
  --ls-block-highlight-color: hsl(179, 45%, 88%);

  --ls-page-checkbox-color: hsl(206, 41%, 57%);
  --ls-page-checkbox-border-color: hsl(206, 41%, 57%);

  --ls-page-inline-code-color: 198, 34%, 15%;
  --ls-page-inline-code-bg-color: hsl(179, 32%, 96%);

  --ls-scrollbar-foreground-color: rgba(0, 0, 0, 0.2);
  --ls-scrollbar-background-color: rgba(0, 0, 0, 0.1);
  --ls-scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.3);

  --ls-head-text-color: var(--ls-primary-text-color);

  --ls-icon-color: hsl(198, 13%, 68%);
  --ls-search-icon-color: var(--ls-icon-color);

  --ls-a-chosen-bg: hsl(208, 33%, 96%);

  --color-level-1: hsl(208, 33%, 98%);
  --color-level-2: hsl(208, 33%, 97%);
  --color-level-3: hsl(208, 33%, 98%);
  --color-level-4: hsl(208, 33%, 97%);
  --color-level-5: hsl(208, 33%, 98%);
  --color-level-6: hsl(208, 33%, 97%);

  --cl-border-shade1: hsl(202, 22%, 89%, 0.5);
  --cl-border-shade2: hsl(202, 22%, 88%, 0.5);
  --cl-border-shade3: hsl(202, 22%, 87%, 0.5);
  --cl-border-shade4: hsl(202, 22%, 86%, 0.5);
  --cl-border-shade5: hsl(202, 22%, 85%, 0.5);
  --cl-border-shade6: hsl(202, 22%, 84%, 0.5);

  --ui-button-bg: 202, 76%, 79%;
  --ui-button-color: 202, 76%, 45%;
  --ui-button-bg-hover: hsl(202, 76%, 65%);

  --left-sb-bg-color: hsl(213, 14%, 13%);
  --left-sb-bg-color-hover: hsl(213, 14%, 12%);

  --left-sb-txt-color: hsl(210, 10%, 51%);
  --left-sb-txt-color-hover: hsl(210, 19%, 73%);

  --external-link-color: hsl(14, 86%, 53%);
  --external-link-color-hover: hsl(78, 50%, 48%);

  --highlighter: hsl(41, 100%, 69%, 0.8);
  --highlighter-text: hsl(202, 33%, 17%);

  --selection: hsl(165, 37%, 85%, 0.8);

  --page-ref-bg-hover:  209, 87%, 73%;
	--properties-border: 209, 17%, 88%;

  --caret-color: hsl(171, 100%, 28%);

	--pdf-asset-color: hsl(14, 86%, 53%);

  --card-title-bg-color: hsl(208, 33%, 96%);

  --codemirror-wrapper: hsl(221, 11%, 14%);

  --example-admon: hsl(225, 40%, 98%);

  --box-shadow-sm: rgba(23, 42, 53, 0.1) 0 2px 3px 0;
  --box-shadow-lg: rgba(23, 40, 49, 0.1) 0 4px 6px 0;

  --drop-shadow-sm: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
  --drop-shadow-lg: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

*,
*:before,
*:after {
  font-variation-settings: "MONO" var(--MONO), "CASL" var(--CASL),
    "slnt" var(--slnt), "CRSV" var(--CRSV);
}

html:not(.is-native-android) {
  -webkit-font-smoothing: auto;
	scroll-behavior: smooth;
}

p {
  --MONO: 0;
}

i, em{
	--slnt: -10;
}

strong, b{
	font-weight: bold;
}

/* START Color Levels */

.color-level .color-level {
  border-top: 1px solid var(--cl-border-shade1);
}

.color-level .color-level .color-level {
  border-top: 2px solid var(--cl-border-shade2);
}

.color-level .color-level .color-level .color-level {
  border-top: 3px solid var(--cl-border-shade3);
}

.color-level .color-level .color-level .color-level .color-level {
  border-top: 4px solid var(--cl-border-shade4);
}

/* Color Levels  END */

/* START Journal Header */

.journal-title h1::before,
.is-journals h1::before {
  content: "📅";
  font-size: 0.75em;
  margin-right: 10px;
  vertical-align: text-bottom;
}

/* Journal Header END */

/* START TASKS */
.form-checkbox {
  background-color: var(--transparent);
  border: 1px solid;
  border-color: var(--ls-page-checkbox-border-color, hsl(188, 45%, 78%, 0.8));
  color: var(--ls-page-checkbox-color, hsl(188, 45%, 68%, 0.8));
  opacity: var(--opacity-sm);
}

.form-checkbox {
  border-radius: var(--radius-sm);
}

.form-checkbox:checked {
  border: none;
}

.block-marker {
  font-size: 100%;
}

.priority {
  font-size: 0;
  visibility: hidden;
}

a[priority]::before,
.priority::before {
  background-repeat: no-repeat;
  border: 1px solid var(--transparent);
  border-radius: 100%;
  display: inline-block;
  font-size: 12px;
  height: 16px;
  visibility: visible;
  width: 16px;
}

a[priority]::before {
  /* display: inline-flex ; */
  margin-right: 5px;
  /* margin-top: 5px; */
}

a.tooltip-priority {
  transition: none;
}

a[priority="A"]::before,
.priority[href="#/page/A"]::before {
  background-color: var(--red);
  content: " ";
}

a[priority="B"]::before,
.priority[href="#/page/B"]::before {
  background-color: var(--orange);
  content: " ";
}

a[priority="C"]::before,
.priority[href="#/page/C"]::before {
  background-color: var(--green);
  content: " ";
}

.timestamp,
[data-drawer-name="logbook"] {
  font-style: italic;
}

/* TASKS END*/

/* START Links */

.external-link {
  border-bottom: 1px dotted var(--external-link-color);
  color: var(--external-link-color);
  border-radius: var(--radius-sm);
}

.external-link:hover {
  border-bottom: 1px dotted var(--external-link-color-hover);
	color: var(--external-link-color-hover) ;
}

.youtube-timestamp {
  color: var(--ls-link-ref-text-color);
}
/* Links END */

/* START Bullet & Bullet Container */

.bullet-container {
  height: 20px;
  width: 20px;
}

/* a:hover > .bullet-container .bullet {
	background-color: hsl(var(--aqua), .8);
	box-shadow: 0 0 0 2px var(--ls-primary-background-color),
		0 0 0 4px hsl(var(--aqua), .8);
	transform: scale(1.4);
	transition: var(--transition);
} */

html[data-theme="light"] .block-children-left-border:hover {
  background-color: hsl(var(--aqua), 1);
  transition: var(--transition);
	/* opacity: var(--opacity-md); */
}

html[data-theme="dark"] .block-children-left-border:hover {
  background-color: hsl(var(--aqua), 0.6);
  transition: var(--transition);
}

/* Bullet & Bullet Container END */

/* Inline Header Tags Adjustments */

.ls-block :is(h1, h2) {
  border: none;
  margin: 0;
}

.ls-block :is(h1, h2, h3, h4, h5, h6)::after {
  background-size: 16px 16px;
  content: "";
  display: inline-flex;
  height: 16px;
  margin-left: 5px;
  opacity: 0;
  vertical-align: middle;
  width: 16px;
}

.ls-block :is(h1, h2, h3, h4, h5, h6):hover::after {
  opacity: var(--opacity-sm);
  transition: all 0.5s ease-in-out;
}

html[data-theme="dark"] .ls-block h1::after {
  background-image: url("./assets/h1-light.svg");
}

html[data-theme="dark"] .ls-block h2::after {
  background-image: url("./assets/h2-light.svg");
}

html[data-theme="dark"] .ls-block h3::after {
  background-image: url("./assets/h3-light.svg");
}

html[data-theme="dark"] .ls-block h4::after {
  background-image: url("./assets/h4-light.svg");
}

html[data-theme="dark"] .ls-block h5::after {
  background-image: url("./assets/h5-light.svg");
}

html[data-theme="dark"] .ls-block h6::after {
  background-image: url("./assets/h6-light.svg");
}

html[data-theme="light"] .ls-block h1::after {
  background-image: url("./assets/h1.svg");
}

html[data-theme="light"] .ls-block h2::after {
  background-image: url("./assets/h2.svg");
}

html[data-theme="light"] .ls-block h3::after {
  background-image: url("./assets/h3.svg");
}

html[data-theme="light"] .ls-block h4::after {
  background-image: url("./assets/h4.svg");
}

html[data-theme="light"] .ls-block h5::after {
  background-image: url("./assets/h5.svg");
}

html[data-theme="light"] .ls-block h6::after {
  background-image: url("./assets/h6.svg");
}

.editor-inner .h1.uniline-block,
.ls-block h1 {
  font-size: 2em;
  min-height: 1.5em;
}

.editor-inner .h2.uniline-block,
.ls-block h2 {
  font-size: 1.5em;
  min-height: 1.5em;
  position: relative;
  top: -3px;
}

.editor-inner .h3.uniline-block,
.ls-block h3 {
  font-size: 1.3em;
  min-height: 1.5em;
  position: relative;
  top: -4px;
}

.editor-inner .h4.uniline-block,
.ls-block h4,
.editor-inner .h5.uniline-block,
.ls-block h5,
.editor-inner .h6.uniline-block,
.ls-block h6 {
  font-size: 1em;
  min-height: 1.5em;
  position: relative;
  top: -5px;
}

.editor-inner .multiline-block:is(.h1, .h2, .h3, .h4, .h5, .h6)::first-line,
.editor-inner .uniline-block:is(.h1, .h2, .h3, .h4, .h5, .h6),
.ls-block :is(h1, h2, h3, h4, h5, h6) {
  font-weight: 700;
}

.editor-inner .uniline-block:is(.h1, .h2),
.ls-block :is(h1, h2) {
  border-bottom: 1px solid var(--ls-quaternary-background-color);
  margin: 0.4em 0 0;
}

.block-ref .editor-inner :is(.h1, .h2),
.block-ref .ls-block :is(h1, h2) {
  border-bottom: none;
}

.block-ref :is(h1, h2, h3, h4, h5, h6) {
  border-bottom: none;
  font-size: 1rem;
}

.editor-inner .uniline-block:is(.h1, .h2),
.ls-block :is(h1, h2) {
  border-bottom: var(--transparent);
}

.doc-mode .block-children {
  border-left: none !important;
}

.document-mode .editor-inner .h1,
.document-mode .ls-block h1 {
  margin: 0.34em 0;
}

.document-mode .editor-inner .h2,
.document-mode .ls-block h2 {
  margin: 0.3em 0;
}

.document-mode .editor-inner .h3,
.document-mode .ls-block h3 {
  margin: 0.28em 0;
}

.document-mode .editor-inner .h4,
.document-mode .ls-block h4 {
  margin: 0.26em 0;
}

.document-mode .editor-inner .h5,
.document-mode .ls-block h5 {
  margin: 0.24em 0;
}

.document-mode .editor-inner .h6,
.document-mode .ls-block h6 {
  margin: 0.22em 0;
}

.document-mode .ls-block {
  margin-bottom: 0rem;
}

/* Header Tag Adjustments END */

/* START #tag  */

:root {
  --tag-text-color: 217, 17%, 15%;
  --tag-general-color: 188, 45%, 68%;
  --tag-new: 209, 87%, 73%;
  --tag-done: 338, 80%, 80%;
	--tag-canceled: 214, 29%, 58%;
	--tag-doing: 173, 60%, 62%;
  --tag-wait: 26, 100%, 85%;
	--tag-general-light: 201, 93%, 76%
}

.content a.tag {
  border: 1px solid transparent;
  border-radius: var(--radius-sm);
  color: hsl(var(--tag-text-color));
  display: inline;
  font-size: 1em;
  padding: 0 5px;
  /* opacity: .8; */
}

html[data-theme="dark"] .content a.tag {
  background-color: hsl(var(--tag-general-color), .05);
	color:  hsl(var(--tag-general-color), .8);
	border: 1px solid hsl(var(--tag-general-color), .08);
}

html[data-theme="dark"] .content a.tag:hover {
	opacity: var(--opacity-none);
}

html[data-theme="light"] .content a.tag {
  background-color: hsl(var(--tag-general-color), 0.2);
  border: 1px solid hsl(var(--tag-general-color), 0.4);
}

/* START Custom Tags */
html[data-theme="dark"] .content a.tag[data-ref="new"] {
  background-color: hsl(var(--tag-new), .05);
	color:  hsl(var(--tag-new), .8);
	border: 1px solid hsl(var(--tag-new), .08);
}
html[data-theme="dark"] .content a.tag[data-ref="doing"] {
  background-color: hsl(var(--tag-doing), .05);
	color:  hsl(var(--tag-doing), .8);
	border: 1px solid hsl(var(--tag-doing), .08);
}

html[data-theme="dark"] .content a.tag[data-ref="wait"],
html[data-theme="dark"] .content a.tag[data-ref="waiting"] {
  background-color: hsl(var(--tag-wait), .05);
	color:  hsl(var(--tag-wait), .8);
	border: 1px solid hsl(var(--tag-wait), .08);
}

html[data-theme="dark"] .content a.tag[data-ref="done"] {
  background-color: hsl(var(--tag-done), .05);
	color:  hsl(var(--tag-done), .8);
	border: 1px solid hsl(var(--tag-done), .08);
}

html[data-theme="dark"] .content a.tag[data-ref="canceled"], html[data-theme="dark"] .content a.tag[data-ref="cancelled"]  {
  background-color: hsl(var(--tag-canceled), .05);
	color:  hsl(var(--tag-canceled), .8);
	border: 1px solid hsl(var(--tag-canceled), .08);
	text-decoration: line-through;
}

html[data-theme="light"] .content a.tag[data-ref="new"] {
  background-color: hsl(var(--tag-new), 0.2);
  border: 1px solid hsl(var(--tag-new), 0.4);
}
html[data-theme="light"] .content a.tag[data-ref="doing"] {
  background-color: hsl(var(--tag-doing), 0.2) !important;
  border: 1px solid hsl(var(--tag-doing), 0.4);
}

html[data-theme="light"] .content a.tag[data-ref="wait"],
html[data-theme="light"] .content a.tag[data-ref="waiting"] {
  background-color: hsl(var(--tag-wait), 0.2);
  border: 1px solid hsl(var(--tag-wait), 0.4);
}

html[data-theme="light"] .content a.tag[data-ref="done"] {
  background-color: hsl(var(--tag-done), 0.2);
  border: 1px solid hsl(var(--tag-done), 0.4);
}

html[data-theme="light"] .content a.tag[data-ref="canceled"], html[data-theme="light"] .content a.tag[data-ref="cancelled"]  {
	background-color: hsl(var(--tag-canceled), 0.2);
  border: 1px solid hsl(var(--tag-canceled), 0.4);
	text-decoration: line-through;
}

.content a.tag:hover {
	opacity: var(--opacity-md);
}

/* Custom Tags END */
/* #tag END  */

/* START Sidebar */

html[data-theme="light"] .cp__header > .l a {
  color: var(--left-sb-txt-color);
}

.left-sidebar-inner,
.cp__sidebar-left-layout::before {
  background-color: var(--left-sb-bg-color);
	/* border-right: 1px solid var(--ls-border-color) ; */
}

#left-sidebar a,
.left-sidebar-inner .favorites .page-icon,
.left-sidebar-inner .recent .page-icon {
  color: var(--left-sb-txt-color) !important;
}

.left-sidebar-inner .nav-content-item > .header:hover,
#left-sidebar a:hover {
  background-color: var(--left-sb-bg-color-hover);
  color: var(--left-sb-txt-color-hover) !important;
}

.dropdown-wrapper {
  --left-sb-dropdown-bd: 213, 15%, 25%;
}

.dropdown-wrapper hr {
  border-color: hsl(var(--left-sb-dropdown-bd), 0.3);
}

nav:nth-child(1) > div.relative > div > div > div {
  color: var(--left-sb-txt-color);
}

nav:nth-child(1) > div.relative > div,
nav:nth-child(1) > div.relative > div > div > a {
  background-color: var(--left-sb-bg-color);
}

.dark-theme #head > div.r.flex > div > div > div,
nav:nth-child(1) > div.relative > div {
  border: 1px dotted hsl(var(--left-sb-dropdown-bd), .3);
}

#left-sidebar a,
.left-sidebar-inner .favorites .page-icon,
.left-sidebar-inner .recent .page-icon,
nav:nth-child(1) > div.relative > div > div > div {
  color: var(--left-sb-txt-color);
}

.left-sidebar-inner .nav-content-item > .header:hover,
#left-sidebar a:hover {
  background-color: var(--left-sb-bg-color-hover);
  color: var(--left-sb-txt-color-hover);
}

.cp__header a.button {
  color: var(--left-sb-txt-color);
}

.cp__header > .l a.button:hover {
  background-color: var(--transparent);
  cursor: pointer;
}

html[data-theme="light"] .cp__right-sidebar .sidebar-item,
html[data-theme="light"] .cp__right-sidebar {
  background-color: var(--ls-secondary-background-color);
}

html[data-theme="dark"] .cp__right-sidebar .sidebar-item,
html[data-theme="dark"] .cp__right-sidebar {
  background-color: var(--ls-secondary-background-color);
}

@media (min-width: 640px) {
  .left-sidebar-inner .new-page {
    background-color: var(--left-sb-bg-color);
  }
}

/* Sidebar END */

/* START Table */

.cp__all_pages_table td.backlinks > span,
.cp__all_pages_table td.created-at > span,
.cp__all_pages_table td.updated-at > span {
  color: var(--ls-primary-text-color) !important;
}

.table-wrapper > table td,
.table-wrapper > table th {
  border: solid 1px var(--ls-border-color);
}

th {
  font-size: 1em;
  font-weight: bold;
}

th,
td {
  padding: 0.6rem;
}

tr:nth-child(even) {
  background: var(--ls-table-tr-even-background-color);
}

/* Table END */
:root {
	--bq: 168, 69%, 74%;
  --verse: 185, 100%, 70%;
  --warn: 46, 74%, 82%;
  --important: 338, 80%, 80%;
  --tip: 209, 87%, 73%;
  --note: 210, 9%, 86%;
  --caution: 376, 100%, 84%;
  --pinned: 224, 88%, 80%;
	--example: 213, 14%, 10%;
}

/* START Admonition & Blockquote */

.admonitionblock,
.verse,
blockquote,
pre.pre-wrap-white-space {
  border: 1px solid var(--transparent);
  border-radius: var(--radius-md);
  margin: 1rem 0;
  padding: 2rem 2rem;
}

.admonitionblock .is-paragraph {
  font-size: 16px;
}

html[data-theme="light"] pre.pre-wrap-white-space {
  border: 1px solid hsl(var(--example), 0.06);
  background-color: hsl(var(--example), 0.05);
}

blockquote::before {
  font-size: 4.5em;
  font-weight: normal;
  line-height: 0.1em;
  margin-right: 1px;
  vertical-align: -0.3em;
}

html[data-theme="light"] blockquote {
  background-color: hsl(var(--bq), .15);
	border: 1px solid hsl(var(--bq), 0.2);
}

html[data-theme="light"] blockquote::before {
  color: hsl(var(--bq));
  content: "❝";
}

html[data-theme="light"] blockquote .is-paragraph:first-child {
  display: inline;
}

html[data-theme="light"] .verse {
  background-color: hsl(var(--verse), .1);
	border: 1px solid hsl(var(--verse), 0.2);
  font-style: italic;
}

html[data-theme="light"] .admonitionblock.warning {
  background-color: hsl(var(--warn), .15);
	border: 1px solid hsl(var(--warn), 0.2);
}

html[data-theme="light"] .warning svg {
  color: hsl(var(--warn));
}

html[data-theme="light"] .admonitionblock.important {
  background-color: hsl(var(--important), .1);
	border: 1px solid hsl(var(--important), 0.1);
}

html[data-theme="light"] .important svg {
  color: hsl(var(--important));
}

html[data-theme="light"] .admonitionblock.tip {
  background-color: hsl(var(--tip), .1);
	border: 1px solid hsl(var(--tip), 0.1);

}

html[data-theme="light"] .tip svg {
  color: hsl(var(--tip));
}

html[data-theme="light"] .admonitionblock.note {
  background-color: hsl(var(--note), .1);
	border: 1px solid hsl(var(--note), 0.2);
}

html[data-theme="light"] .note svg {
  color: hsl(var(--note));
}

html[data-theme="light"] .admonitionblock.caution {
  background-color: hsl(var(--caution), .1);
	border: 1px solid hsl(var(--caution), 0.1);
}

html[data-theme="light"] .caution svg {
  color: hsl(var(--caution));
}

html[data-theme="light"] .admonitionblock.pinned {
  background-color: hsl(var(--pinned), .1);
	border: 1px solid hsl(var(--pinned), 0.1);
}

html[data-theme="light"] .pinned svg {
  color: hsl(var(--pinned));
}
html[data-theme="dark"] pre.pre-wrap-white-space {
  background-color: hsl(var(--example), .4);
	border: 1px solid hsl(var(--example), 0.1);
	color: inherit;
}

html[data-theme="dark"] blockquote {
  background-color: hsl(var(--bq), .05);
	color:  hsl(var(--bq), .5);
	border: 1px solid hsl(var(--bq), .08);
}

html[data-theme="dark"] blockquote::before {
  color:   hsl(var(--bq), .3);
  content: "❝";
}

html[data-theme="dark"] blockquote .is-paragraph:first-child {
  display: inline;
}

html[data-theme="dark"] .verse {
  background-color: hsl(var(--verse), .05);
	color: hsl(var(--verse), .6);
	border: 1px solid hsl(var(--verse), .08);
  font-style: italic;
}

html[data-theme="dark"] .admonitionblock.warning, html[data-theme="dark"] #settings > div > article > div > div.flex.flex-row.admonitionblock.align-items.warning{
  background-color: hsl(var(--warn), .05);
	color: hsl(var(--warn), .6);
	border: 1px solid hsl(var(--warn), .08);
}

html[data-theme="dark"] .warning svg {
  color: hsl(var(--warn), .6);
}

html[data-theme="dark"] .admonitionblock.important {
  background-color: hsl(var(--important), .05);
	color: hsl(var(--important), .6);
	border: 1px solid hsl(var(--important), .08);
}

html[data-theme="dark"] .important svg {
  color: hsl(var(--important), .6);
}

html[data-theme="dark"] .admonitionblock.tip {
  background-color: hsl(var(--tip), .05);
	color: hsl(var(--tip), .6);
	border: 1px solid hsl(var(--tip), .08);
}

html[data-theme="dark"] .tip svg {
  color: hsl(var(--tip), .6);
}

html[data-theme="dark"] .admonitionblock.note {
  background-color: hsl(var(--note), .05);
	color: hsl(var(--note), .6);
	border: 1px solid hsl(var(--note), .08);
}

html[data-theme="dark"] .note svg {
  color: hsl(var(--note), .6);
}

html[data-theme="dark"] .admonitionblock.caution {
  background-color: hsl(var(--caution), .05);
	color: hsl(var(--caution), .6);
	border: 1px solid hsl(var(--caution), .08);

}

html[data-theme="dark"] .caution svg {
  color: hsl(var(--caution), .6);
}

html[data-theme="dark"] .admonitionblock.pinned {
  background-color: hsl(var(--pinned), .05);
	color: hsl(var(--pinned), .6);
	border: 1px solid hsl(var(--pinned), .08);
}

html[data-theme="dark"] .pinned svg {
  color: hsl(var(--pinned), .6);
}

.admonition-icon {
  border-color: var(--transparent);
}

.admonition-icon > svg {
  background-color: var(--transparent);
  border-right: var(--transparent);
}

.admonitionblock > .admonition-icon > .svg-shadow {
  -webkit-filter: none;
  filter: none;
}

.tip-shadow {
  -webkit-filter: none;
  filter: none;
}

/*  Admonition & Blockquote END */

/* START MISC */

mark {
  background: none;
  color: inherit;
  font-size: inherit;
	/* opacity: var(--opacity-sm); */
	text-decoration: 4px underline var(--highlighter);
	text-underline-offset: 1px;
	text-decoration-skip-ink: skip;
}

hr {
  border-color: var(--ls-border-color);
  margin: 1rem 0;
}

::selection {
  background-color: var(--selection);
}

html[data-theme="dark"] .ui__button {
  background-color: hsl(var(--ui-button-bg), 0.05);
  border-radius: var(--radius-md);
  color: hsl(var(--ui-button-color));
	border: 1px solid hsl(var(--ui-button-color), 0.1);
}

html[data-theme="dark"] .cp__plugins-page .secondary-tabs button.active {
	background: hsl(var(--ui-button-bg));
	color: var(--inverted-text);
}

html[data-theme="light"] .ui__button {
  background-color: hsl(var(--ui-button-bg), 0.15);
  border-radius: var(--radius-md);
  color: hsl(var(--ui-button-color));
	border: 1px solid hsl(var(--ui-button-color), 0.5);
}

html[data-theme="light"] .cp__plugins-page .secondary-tabs button.active, html[data-theme="light"] .cp__plugins-page .tabs .ui__button.active {
	background: hsl(var(--ui-button-bg));
	color: var(--ls-link-text-color);
	border: 1px solid hsl(var(--ui-button-color));
}

html[data-theme="dark"] .cp__plugins-page .secondary-tabs button.active, html[data-theme="dark"] .cp__plugins-page .tabs .ui__button.active {
	background: hsl(var(--ui-button-bg));
	color: var(--inverted-text);
	border: 1px solid hsl(var(--ui-button-color));
}

html[data-theme="dark"] .ui__button.active,
html[data-theme="dark"] .ui__button:hover,
html[data-theme="dark"] .cp__plugins-page .secondary-tabs button:hover,
html[data-theme="dark"] .cp__plugins-page .tabs .ui__button:hover {
  background-color: var(--ui-button-bg-hover);
	color: var(--inverted-text);
}

html[data-theme="light"] .ui__button.active,
html[data-theme="light"] .ui__button:hover,
html[data-theme="dark"] .cp__plugins-page .secondary-tabs button:hover,
html[data-theme="dark"] .cp__plugins-page .tabs .ui__button:hover  {
  background-color: var(--ui-button-bg-hover);
	color: var(--white);
}

a.button.active,
a.button:hover {
  background: var(--ls-menu-hover-color);
}

.white-theme .inline code {
  background-color: hsl(var(--ls-page-inline-code-bg-color));
  border: 1px solid hsl(var(--ls-page-inline-code-color), 0.05);
  color: hsl(var(--ls-page-inline-code-color), 1);
}

.dark-theme .inline code {
  background-color: hsl(var(--ls-page-inline-code-bg-color));
  border: 1px solid hsl(var(--ls-page-inline-code-color), 0.05);
  color: hsl(var(--ls-page-inline-code-color), 1);
}

.cp__palette-results .tip code {
	background-color: hsl(var(--ls-page-inline-code-bg-color));
  border: 1px solid hsl(var(--ls-page-inline-code-color), 0.05);
}

.editor-inner textarea,
input {
  caret-color: var(--caret-color);
}

.cp__all_pages .actions .search-wrap .form-input{
	background-color: var(--transparent);
}

.cp__all_pages .actions .search-wrap .form-input:focus-within{
	background-color: hsl(var(--aqua), 0.1);
}

.ui__modal-panel {
  background: var(--ls-primary-background-color);
}

html[data-theme="light"] .block-properties,
html[data-theme="light"] .color-level {
  border-radius: var(--radius-none);
  box-shadow: var(--box-shadow-sm);
	outline: 1px solid hsl(var(--properties-border), .5);
}

html[data-theme="dark"] .block-properties,
html[data-theme="dark"] .color-level {
  border-radius: var(--radius-none);
  box-shadow: var(--box-shadow-sm);
}

/* .block-properties {
	  border: 1px solid var(--ls-border-color);
  } */

html[data-theme="light"] .cards-title,
html[data-theme="light"] .cp__right-sidebar .cards-title,
html[data-theme="light"] .ui__modal .cards-title {
  background-color: var(--card-title-bg-color);
  border: 1px dotted var(--ls-border-color);
}

html[data-theme="dark"] .cards-title,
html[data-theme="dark"] .cp__right-sidebar .cards-title,
html[data-theme="dark"] .ui__modal .cards-title {
  background-color: var(--card-title-bg-color);
  border: 1px dotted var(--ls-border-color);
}

/* .references-blocks > div > div > .content > div > .color-level {
	  box-shadow: var(--box-shadow-sm);
  } */

.cp__palette-main .chosen,
.cp__settings-inner > aside ul > li.active {
  background-color: var(--ls-quaternary-background-color);
}

.cp__right-sidebar .sidebar-item {
  border: none;
  border-radius: 0;
}

.cp__right-sidebar-inner {
  border-left: 1px solid var(--ls-border-color);
}

.cp__themes-installed > .it {
  background-color: var(--transparent);
}

.cp__themes-installed > .it.is-active {
  background-color: var(--ls-quaternary-background-color);
  /* opacity: 1; */
}

.cp__themes-installed > .it:hover {
  background-color: var(--ls-quaternary-background-color);
}

.block-content[data-type="annotation"] a.prefix-link::before {
	  content: "🔖 ";
  }

[data-type="annotation"] > .block-ref {
  border-bottom: none;
}

.block-ref {
 --cornflower: 209, 87%, 73%;
  border-bottom: 1px ridge hsl(var(--cornflower), .7);
  border-radius: 0;
  font-size: inherit;
  padding: 0 4px;
  display: inline;
}

.block-ref > div div {
  display: inline;
}

.block-ref:hover {
  color: inherit;
  transition: var(--transition);
  border-radius: var(--radius-sm);
}

html[data-theme="dark"] .block-ref:hover {
	background-color: hsl(var(--cornflower), 0.1);
}

html[data-theme="light"] .block-ref:hover {
	background-color: hsl(var(--cornflower), 0.2);
}

/* span.block-ref > .block-content.inline > span > div > div.flex-1 > span.inline { */
/* text-decoration: underline; */
/* text-decoration: underline solid hsl(var(--misty-rose), 0.5) 1px; */
/* text-decoration-color: hsl(var(--misty-rose), 1) !important; */
/* text-underline-offset: 5px; */
/* }  */

.query-title {
  background-color: var(--card-title-bg-color);
  border: 1px dotted var(--ls-border-color);
}

.page-reference:hover,
.references-blocks .page-reference:hover {
  background-color: hsl(var(--page-ref-bg-hover), 0.2);
}

.foldable-title h2 {
  font-style: italic;
}

.open-block-ref-link,
.cp__sidebar-help-btn {
  --misc-border: 214, 14%, 40%;
  --misc-bg-color: 214, 14%, 10%;
}

html[data-theme="light"] .open-block-ref-link,
html[data-theme="light"] .cp__sidebar-help-btn {
  background-color: hsl(var(--misc-bg-color), .03);
  border: 1px solid hsl(var(--misc-border), 0.2);
  color: var(--ls-primary-text-color);
}

html[data-theme="dark"] .open-block-ref-link,
html[data-theme="dark"] .cp__sidebar-help-btn {
  background-color: hsl(var(--misc-bg-color), 1);
  border: 1px solid hsl(var(--misc-border), 0.3);
  color: var(--ls-primary-text-color);
}

.ui__modal-overlay div {
  background-color: var(--overlay);
  opacity: 0.6;
}

.ui__ac-group-name {
  color: var(--ls-primary-text-color);
  font-weight: 600;
}

.tippy-popper {
  filter: var(--drop-shadow-lg);
}

html[data-theme="dark"] .cp__right-sidebar-inner .resizer:hover {
  background-color: hsl(var(--aqua), 0.6);
	transition: var(--transition);
}

html[data-theme="light"] .cp__right-sidebar-inner .resizer:hover {
	background-color: hsl(var(--aqua), 0.6);
	transition: var(--transition);
}

.cp__all_pages .actions {
  background-color: var(--ls-primary-background-color);
  padding: 0.5em 2em;
}

div[data-refs-self*="card"],
.cards-review {
	outline: 1px solid var(--ls-border-color);
	background-color: var(--color-level-1);
	box-shadow: var(--box-shadow-lg);
	border-radius: var(--radius-none);
}
.panel-content div[data-refs-self*="card"]{
	border: 1px solid var(--ls-border-color);
	outline: none;
}

/* .cp__right-sidebar-topbar.items-center {
  box-shadow: var(--box-shadow-sm);
} */

a.warning,
div.warning:not(.admonitionblock),
p.warning,
span.warning {
  background: var(--red) !important;
  color: var(--white, #fff);
	opacity: var(--opacity-sm);
}

a.error,
span.error {
  background: var(--red) !important;
  color: var(--white, #fff);
	opacity: var(--opacity-sm);
}

.block-children {
  padding-bottom: 6px;
  padding-top: 4px;
}

.menu-link:last-of-type {
  border-bottom-left-radius: var(--radius-none);
  border-bottom-right-radius: var(--radius-none);
}

.menu-link:first-of-type {
  border-top-left-radius: var(--radius-none);
  border-top-right-radius: var(--radius-none);
}

.reveal {
  box-shadow: var(--box-shadow-lg);
}

.asset-ref.is-pdf {
  color: var(--pdf-asset-color);
	opacity: var(--opacity-sm);
}
/* MISC END */

/* START Settings & Marketplace */

.cp__plugins-item-card {
  background: var(--ls-primary-background-color, #fff);
  border: 1px solid var(--ls-border-color);
  box-shadow: var(--box-shadow-sm);
}

.cp__plugins-item-card:hover {
  background-color: var(--ls-quaternary-background-color);
}

.cp__themes-installed > .it.is-active {
  background-color: var(--ls-quaternary-background-color);
  /* opacity: 1; */
}
.cp__plugins-page .secondary-tabs button.active {
  border: 1px solid var(--ls-border-color);
}
.cp__plugins-page .tabs .ui__button.active {
  background-color: var(--quaternary-background-color);
}

.cp__settings-app-updater .update-state {
  background-color: var(--green);
	opacity: var(--opacity-sm);
}
.cp__settings-app-updater .update-state > p {
  color: var(--inverted-text);
}

.keyboard-shortcut > code {
  --kbd-color: 0, 0%, 29%; /* rgb(74, 74, 74) */
  --kbd-color-dark: 205, 24%, 78%; /*rgb (rgb(187, 202, 213) */
  --kbd-border: 185, 98%, 18%; /* rgb(1, 82, 89) */
  border-color: var(--transparent);
  border-radius: var(--radius-none);
  display: inline-block;
  font-size: 0.85em;
}

.keyboard-shortcut > code + code {
  margin-right: 0;
}

html[data-theme="light"] .keyboard-shortcut > code {
  border-color: hsl(var(--kbd-border), 1);
  box-shadow: inset 0 -1px 0 hsl(var(--kbd-color), 0.3);
  text-shadow: 0 1px 0 hsl(var(--kbd-color), 0.3);
}

html[data-theme="dark"] .keyboard-shortcut > code {
  border-color: hsl(var(--kbd-border), 1);
  box-shadow: inset 0 -1px 0 var(--box-shadow-sm);
  text-shadow: 0 1px 0 hsl(var(--kbd-color-dark), 1);
  color: var(--ls-primary-text-color);
}

/* Settings & Marketplace END */

/* START Code Block */

.extensions__code {
  background-color: var(--codemirror-wrapper);
  /* border: 1px solid var(--ls-border-color); */
  border-radius: var(--radius-none);
  margin-top: 6px;
  box-shadow: var(--box-shadow-sm);
	/* opacity: var(--opacity-sm); */
}

.extensions__code-lang {
  background-color: var(--orange);
  border-bottom-left-radius: var(--radius-none);
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: var(--radius-none);
  color: var(--inverted-text);
  margin-top: 0;
  padding: 4px 8px;
  right: 0;
  top: 0;
	opacity: var(--opacity-md);
}

/* Code Block END */

/* START Codemirror */
/* https://github.com/BeardedBear/bearded-theme/blob/master/themes/bearded-theme-arc.json */

.CodeMirror-lines,
.CodeMirror-hscrollbar,
.CodeMirror-gutters {
  background-color: var(--codemirror-wrapper);
}

.cm-s-solarized.cm-s-dark {
  background-color: var(--codemirror-wrapper);
  color: #e0cd68 !important;
  text-shadow: #0f1618 0 1px !important;
}

.cm-s-solarized.cm-s-white {
  background-color: var(--codemirror-wrapper);
  color: #e0cd68 !important;
  text-shadow: #0f1618 0 1px !important;
}

.cm-s-solarized.CodeMirror,
.cm-s-dark.CodeMirror {
  background: var(--codemirror-wrapper);
  color: #c0cfda;
}

.cm-s-solarized div.CodeMirror-selected {
  background: #1d2f3a;
}

.cm-s-solarized.cm-s-dark div.CodeMirror-selected {
  background: #1d2f3a;
}
.cm-s-solarized .CodeMirror-line::selection,
.cm-s-solarized .CodeMirror-line > span::selection,
.cm-s-solarized .CodeMirror-line > span > span::selection {
  background: #1d2f3a;
}

.cm-s-solarized .CodeMirror-line::-moz-selection,
.cm-s-solarized .CodeMirror-line > span::-moz-selection,
.cm-s-solarized .CodeMirror-line > span > span::-moz-selection {
  background: #1d2f3a;
}

.cm-s-solarized .CodeMirror-gutter.CodeMirror-linenumbers {
  background: var(--codemirror-wrapper);
  border-right: 10px;
}

.cm-s-solarized.cm-s-dark .CodeMirror-linenumber{
color: #3F444E;
}

.cm-s-solarized .CodeMirror-guttermarker {
  color: #3F444E;
}

.cm-s-solarized .CodeMirror-guttermarker-subtle {
  color: #3F444E;
}

.cm-s-solarized .CodeMirror-linenumber {
  color: #3F444E;
}

.cm-s-solarized .CodeMirror-cursor {
  border-left: 2px solid #e0cd68;
}

.cm-s-solarized.cm-fat-cursor .CodeMirror-cursor {
  background-color: #e0cd68 !important;
}

.cm-s-solarized .cm-animate-fat-cursor {
  background-color: #e0cd68 !important;
}

.cm-s-solarized span.cm-comment {
  color: #3E4750;
}

.cm-s-solarized span.cm-atom {
  color: #e79260;
}

.cm-s-solarized span.cm-number {
  color: #e79260;
}

.cm-s-solarized span.cm-property {
  color: #c0cfda;
}

.cm-s-solarized span.cm-attribute,
.cm-s-solarized span.cm-keyword {
  color: #e0cd68;
}

.cm-s-solarized span.cm-builtin {
  color: #66d9ef;
}

.cm-s-solarized span.cm-string {
  color: #88cb8c;
}

.cm-s-solarized span.cm-variable {
  color: #58b2df;
}

.cm-s-solarized span.cm-variable-2 {
  color: #e79260;
}

.cm-s-solarized span.cm-variable-3 {
  color: #ff81ee;
}

.cm-s-solarized .cm-operator {
  color: #5b7073;
}

.cm-s-solarized span.cm-def {
  color: #58b2df;
}

.cm-s-solarized span.cm-bracket {
  color: #5cd2c7;
}

.cm-s-solarized span.cm-tag {
  color: #58b2df;
}

.cm-s-solarized span.cm-header {
  color: #ff81ee;
}

.cm-s-solarized span.cm-link {
  color: #ff81ee;
}

.cm-s-solarized span.cm-error {
  background: #ff81ee;
  color: #f8f8f0;
}

.cp__sidebar-left-layout a {
  font-size: 14px;
}

.cm-s-solarized .cm-qualifier {
  color: #5cd2c7;
}

.cm-s-solarized .cm-meta {
  color: #4f8fc7;
}

.cm-s-solarized .CodeMirror-activeline-background {
  background: #2a3546;
}

.cm-s-white .CodeMirror-matchingbracket {
  color: #e0cd68 !important;
  text-decoration: underline;
}

/* Codemirror theme END */

/* START Custom Links */


a[href*="twitter.com/"] {
  background: url(https://twitter.com/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}

a[href*="duckduckgo.com/"] {
  background: url(https://duckduckgo.com/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}

a[href*="youtube.com/"] {
  background: url(https://youtube.com/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}

a[href*="google.com/"] {
  background: url(https://google.com/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}
/*
html[data-theme="dark"] a[href*="github.com/"] {
  background: url(https://github.githubassets.com/favicons/favicon-dark.png) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}

html[data-theme="light"] a[href*="github.com/"] {
  background: url(https://github.com/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
} */

a[href*="css-tricks.com/"] {
  background: url(https://css-tricks.com/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}

a[href*="w3schools.com/"] {
  background: url(https://w3schools.com/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}

a[href*="flaremetrics.io/"] {
  background: url(https://flaremetrics.io/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}

a[href*="bitcoin.org/"] {
  background: url(https://bitcoin.org/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}

a[href*="gitlab.com/"] {
  background: url(https://gitlab.com/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}

a[href*="vimeo.com/"] {
  background: url(https://vimeo.com/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}

a[href*="bitbucket.org/"] {
  background: url(https://bitbucket.org/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}

a[href*="dev.to/"] {
  background: url(https://dev.to/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}
a[href*="developer.mozilla.org/"] {
  background: url(https://developer.mozilla.org/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}

a[href*="opencollective.com/"] {
  background: url(https://opencollective.com/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}

a[href*="webdevtrick.com/"] {
  background: url(https://webdevtrick.com/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}
a[href*="wikipedia.org/"]{
  background: url(https://wikipedia.org/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}

a[href*="substack.com/"]{
  background: url(https://substack.com/favicon.ico) no-repeat left center;
  padding-left: 19px;
  background-size: 16px 16px;
}
